@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

html, body{
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #020100, #22201e)
}

.result1, .result2, .result3 {
display: none;
}

.jumbotron{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgb(0, 0, 0)), url("../img/network-6511448.jpg");
  background-position: center;
  background-size: cover;
  height: 30%;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  color: antiquewhite;
  margin: none;
  padding: none;
}


.langSelect{
  display: flex;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  color: antiquewhite;
}

.subTitle{
  display: flex;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  color: antiquewhite;
}

.userResults{
  display: flex;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  color: antiquewhite;
}